

{% extends "base.html.twig" %}

{% block title %}TwentyOne{% endblock %}

{% block body %}
<div class="card-body">
    <h1>Welcome to TwentyOne</h1>

    <h2>Players hand</h2>
    <p>Players totalPoints: {{playerTotal}}</p>
    <div class="deck-container">
        {% if drawCard is iterable %}
            {% for value in drawCard %}
                {% set rank = value|slice(1, value|length - 3) %}
                {% set suit = value|slice(-2, 1) %}
        
                <div class="card {% if suit in ['♥', '♦'] %}red{% else %}black{% endif %}">
                    <div class="corner top-left">{{ rank }}</div>
                    <div class="corner bottom-right">{{ rank }}</div>
                    <div class="suit">{{ suit }}</div>
                </div>
            {% endfor %}
        {% else %}
            {% set rank = drawCard|slice(1, drawCard|length - 3) %}
            {% set suit = drawCard|slice(-2, 1) %}
        
            <div class="card {% if suit in ['♥', '♦'] %}red{% else %}black{% endif %}">
                <div class="corner top-left">{{ rank }}</div>
                <div class="corner bottom-right">{{ rank }}</div>
                <div class="suit">{{ suit }}</div>
            </div>
        {% endif %}
    </div>

    <h2>Banks hand</h2>
    <p>Bankss totalPoints: {{bankTotal}}</p>
    <div class="deck-container">
        {% if bankCards is iterable %}
            {% for value in bankCards %}
                {% set rank = value|slice(1, value|length - 3) %}
                {% set suit = value|slice(-2, 1) %}
        
                <div class="card {% if suit in ['♥', '♦'] %}red{% else %}black{% endif %}">
                    <div class="corner top-left">{{ rank }}</div>
                    <div class="corner bottom-right">{{ rank }}</div>
                    <div class="suit">{{ suit }}</div>
                </div>
            {% endfor %}
        {% else %}
           {% set rank = drawCard|slice(1, drawCard|length - 3) %}
            {% set suit = drawCard|slice(-2, 1) %}
        
            <div class="card {% if suit in ['♥', '♦'] %}red{% else %}black{% endif %}">
                <div class="corner top-left">{{ rank }}</div>
                <div class="corner bottom-right">{{ rank }}</div>
                <div class="suit">{{ suit }}</div>
            </div>>
        {% endif %}
    </div>

    {{ include('flash.html.twig') }}

    <ul>
        <li><a href="{{ path('game') }}">Start a new game</li>
    </ul>
</div>
{% endblock %}

