{% extends "base.html.twig" %}

{% block title %}this is not{% endblock %}

{% block body %}
    <h1>DrawnCard</h1>
    <p>Remaining cards in the Deck {{count}}</p>

<div class="deck-container">
    {% if drawCard is iterable %}
        {% for value in drawCard %}
            {% set rank = value|slice(1, value|length - 3) %}
            {% set suit = value|slice(-2, 1) %}
    
            <div class="card {% if suit in ['♥', '♦'] %}red{% else %}black{% endif %}">
                <div class="corner top-left">{{ rank }}</div>
                <div class="corner bottom-right">{{ rank }}</div>
                <div class="suit">{{ suit }}</div>
            </div>
        {% endfor %}
    {% else %}
        {% set rank = drawCard|slice(1, drawCard|length - 3) %}
        {% set suit = drawCard|slice(-2, 1) %}
    
        <div class="card {% if suit in ['♥', '♦'] %}red{% else %}black{% endif %}">
            <div class="corner top-left">{{ rank }}</div>
            <div class="corner bottom-right">{{ rank }}</div>
            <div class="suit">{{ suit }}</div>
        </div>
    {% endif %}
</div>

{% endblock %}
