

{% extends "base.html.twig" %}

{% block title %}TwentyOne{% endblock %}

{% block body %}
<div class="card-body">
    <h1>Welcome to TwentyOne</h1>

    <h2>Players hand</h2>
    <p>Players totalPoints: {{playerTotal}}</p>

<div class="deck-container">
    {% if drawCard is iterable %}
        {% for value in drawCard %}
            <span class="deck {% if '♥' in value %}red{% elseif '♦' in value %}red{% else %}black{% endif %}">
                {{ value }}
            </span>
        {% endfor %}
    {% else %}
        <span class="deck {% if '♥' in drawCard %}red{% elseif '♦' in drawCard %}red{% else %}black{% endif %}">
            {{ drawCard }}
        </span>
    {% endif %}
</div>

{% if playerTotal < 21 %}
    <form method="post" action="">
        <p>
            <input type="submit" name="draw" value="Draw"
                onClick="this.form.action='{{ path('game_draw') }}';"
            >
            {% if playerTotal > 0 %}
            <input type="submit" name="bank" value="bankPlay"
                onClick="this.form.action='{{ path('game_bank') }}';"
            >
            {% endif %}
        </p>
    </form>
{% endif %}

{{ include('flash.html.twig') }}

<ul>
    <li><a href="{{ path('game') }}">Start a new game</li>
</ul>
</div>

{% endblock %}

