<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Project Page{% endblock %}</title>

    <link rel="icon" href="{{ asset('build/img/glider.svg') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('project') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('project') }}
    {% endblock %}
</head>
<body style="background-image: url({{ asset('img/poker.png') }})">
    <header class="site-header" >
        <h1 class="title">Five-Card Draw</h1>
        <p class="subtitle">♠ Poker Experience ♣</p>
    </header>
    <nav class="navbar">
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('about') }}">About</a></li>
            <li><a href="{{ path('report') }}">Report</a></li>
            <li><a href="{{ path('lucky') }}">Lucky</a></li>
            <li><a href="{{ path('session') }}">Session</a></li>
            <li><a href="{{ path('card') }}">Card</a></li>
            <li><a href="{{ path('app_customer') }}">Customer</a></li>
            <li><a href="{{ path('app_acount') }}">Accounts</a></li>
            <li><a href="{{ path('api_overview') }}">Api</a></li>
            <li><a href="{{ path('proj') }}">Project</a></li>
        </ul>
    </nav>

    <main style="background-image: url({{ asset('img/poker.png') }})">
        {% block body %}{% endblock %}
    </main>

    <footer class="footer">
            {% block footer %}
            <p class="foot-text">
                &copy; 2025 Daud Nawaz
            </p>
            <p class="social">
                <a href="https://github.com/Daudnaw/mvc" target="_blank" title="GitHub">
                    <i class="fa-brands fa-github"></i>
                 </a>
            </p>
            {% endblock %}
        </footer>
</body>
</html>

