{% extends 'base.html.twig' %}

{% block title %}Remder book in view {% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Writer</th>
            <th>ISBN</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>
                    <a href="{{ path('library_by_id', { id: book.getId }) }}">
                        {{ book.getId }}
                    </a>
                </td>
                <td>{{ book.getTitle|e }}</td>
                <td>{{ book.getWriter|e }}</td>
                <td>{{ book.getIsbn|e }}</td>
                <td>
                    <a href="{{ path('library_delete_by_id', { id: book.getId }) }}">
                        delete
                    </a>
                </td>
                <td>
                    <a href="{{ path('book_update', { id: book.getId }) }}">
                        update
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ include('flash.html.twig') }}

{% endblock %}
